<div class="alert alert-block alert-success">
    <h1 align="center">Pandas Trick 20</h1>
    <h3 align="center">Diff in Pandas</h3>
    <h4 align="center"><a href="https://github.com/SMSajadi99/Practical-Machine-Learning">Seyed Mohammad Sajadi</a></h5>
</div>

### Importing the libraries

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import numpy as np
import pandas as pd

In [3]:
pd.__version__

'1.5.3'

### Generate Random Data

In [4]:
def generate_sample_data(): # creates a fake df for testing
    number_or_rows = 25
    num_cols = 6
    cols = list("ABCDEF")
    df = pd.DataFrame(np.random.randint(1, 25, size = (number_or_rows, num_cols)), columns=cols)
    df.index = pd.util.testing.makeIntIndex(number_or_rows)
    return df

In [5]:
df = generate_sample_data()
df

     A   B   C   D   E   F
0   12  10   1   3  11   4
1    5  23   2  11  16   3
2   20  15  10  11   5   5
3    4   4  10  15  23  19
4   11  14   3  23  13  11
5   24  12  14   8  10  12
6    7   9   3  15  24   6
7    1   2   6  21  12  19
8    8   6  22  20   2  23
9   15   3   3   4  10  15
10  10  14  11  12  20   4
11  14  21   5   4   2  21
12  22  24   4   2  14  13
13  10  13  10  22  15   1
14   4   5   8  16   2   9
15  23  21   1  18   7  10
16  21  22  13  22  15  19
17  14  15  12   3  10  23
18  13  24  11  13   1  15
19  24   2  20   9  17  16
20  13   8   3  21  18  11
21   4  12  12   1  24  13
22   7  12  20  24  17   3
23  12  17  20   1   1  15
24   5   6  11   2   3  18

In [6]:
df["A_diff"] = df["A"].diff() # calculate the difference between 2 rows
df

     A   B   C   D   E   F  A_diff
0   12  10   1   3  11   4     NaN
1    5  23   2  11  16   3    -7.0
2   20  15  10  11   5   5    15.0
3    4   4  10  15  23  19   -16.0
4   11  14   3  23  13  11     7.0
5   24  12  14   8  10  12    13.0
6    7   9   3  15  24   6   -17.0
7    1   2   6  21  12  19    -6.0
8    8   6  22  20   2  23     7.0
9   15   3   3   4  10  15     7.0
10  10  14  11  12  20   4    -5.0
11  14  21   5   4   2  21     4.0
12  22  24   4   2  14  13     8.0
13  10  13  10  22  15   1   -12.0
14   4   5   8  16   2   9    -6.0
15  23  21   1  18   7  10    19.0
16  21  22  13  22  15  19    -2.0
17  14  15  12   3  10  23    -7.0
18  13  24  11  13   1  15    -1.0
19  24   2  20   9  17  16    11.0
20  13   8   3  21  18  11   -11.0
21   4  12  12   1  24  13    -9.0
22   7  12  20  24  17   3     3.0
23  12  17  20   1   1  15     5.0
24   5   6  11   2   3  18    -7.0

In [7]:
 # calculates the porcentual variation between 2 rows
df["A_Diff_Percent"] = df["A"].pct_change()*100
df

     A   B   C   D   E   F  A_diff  A_Diff_Percent
0   12  10   1   3  11   4     NaN             NaN
1    5  23   2  11  16   3    -7.0      -58.333333
2   20  15  10  11   5   5    15.0      300.000000
3    4   4  10  15  23  19   -16.0      -80.000000
4   11  14   3  23  13  11     7.0      175.000000
5   24  12  14   8  10  12    13.0      118.181818
6    7   9   3  15  24   6   -17.0      -70.833333
7    1   2   6  21  12  19    -6.0      -85.714286
8    8   6  22  20   2  23     7.0      700.000000
9   15   3   3   4  10  15     7.0       87.500000
10  10  14  11  12  20   4    -5.0      -33.333333
11  14  21   5   4   2  21     4.0       40.000000
12  22  24   4   2  14  13     8.0       57.142857
13  10  13  10  22  15   1   -12.0      -54.545455
14   4   5   8  16   2   9    -6.0      -60.000000
15  23  21   1  18   7  10    19.0      475.000000
16  21  22  13  22  15  19    -2.0       -8.695652
17  14  15  12   3  10  23    -7.0      -33.333333
18  13  24  11  13   1  15    -1.0       -7.142857
19  24   2  20   9  17  16    11.0       84.615385
20  13   8   3  21  18  11   -11.0      -45.833333
21   4  12  12   1  24  13    -9.0      -69.230769
22   7  12  20  24  17   3     3.0       75.000000
23  12  17  20   1   1  15     5.0       71.428571
24   5   6  11   2   3  18    -7.0      -58.333333